1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [1]:
a = ()

for i in range (1, 101): 
    
    if i%3 ==0 and i%5 !=0: 
        print ("Mickey")
        a += ("Mickey",)
        
        
    elif i%5 ==0 and i%3 !=0: 
        print ("Mouse")
        a += ("Mouse",)
        
        
    elif i%5 ==0 and i%3 ==0: 
        print ("Mickey Mouse")
        a += ("Mickey Mouse",)
  
    else :
        print (i)
        a += (i,)
        
a = list ( a )

for i in a:
    
    if i=="Mickey" or i=="Mouse" or i=="Mickey Mouse":
        
        i=i.replace("Mickey", "Donald")
        i=i.replace("Mouse", "Duck")

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
Mickey Mouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
Mickey Mouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
Mickey Mouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
Mickey Mouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
Mickey Mouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
Mickey Mouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
x=input("set the value of x: ")
y=input("set the value of y: ")

def swap():
    global x
    global y
    z=x
    x=y
    y=z
    
swap ()
print("after calling swap function: x =", x, ", y =", y)

set the value of x: 2
set the value of y: 3
after calling swap function: x = 3 , y = 2

In [3]:
x=input("set the value of x: ")
y=input("set the value of y: ")


def swap(x, y):
   
    return y, x
    
    
    
x, y = swap (x, y)
print("after calling swap function: x =", x, ", y =", y)

set the value of x: 3
set the value of y: 4
after calling swap function: x = 4 , y = 3

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [4]:
import math
def distance (a, b):
    try:
        d = math.sqrt ( math.pow ( a[0] - b[0], 2) + math.pow ( a[1] - b[1], 2) )
        return (d)
    except:
        print ("can't compute distance for this type of objects")
        
        
u = (3, 0)
v = (0, 4)

distance (u, v)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [1]:
s = "I Topi non avevano NIPOTI"
s = s.lower()
dict = {}
for i in s:
    try:
        dict[i] += 1
    
    except:
        dict[i]=1

for key, value in dict.items():
    print(key, "appears", value, "times")

i appears 4 times
  appears 4 times
t appears 2 times
o appears 4 times
p appears 2 times
n appears 4 times
a appears 2 times
v appears 2 times
e appears 1 times

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [2]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def unique(a):
    count = 0
    rdict = {}
    for i in a:
        try:
            rdict[i]+= 1
        except:
            rdict[i] = 1
    
    for key, value in rdict.items():
        if value == 1:
            print(key, "is unique in the list")
            count += 1
    print ("there are", count,"unique numbers in the list")
    
    
unique(l)

58 is unique in the list
74 is unique in the list
96 is unique in the list
64 is unique in the list
10 is unique in the list
24 is unique in the list
19 is unique in the list
33 is unique in the list
86 is unique in the list
99 is unique in the list
18 is unique in the list
47 is unique in the list
88 is unique in the list
55 is unique in the list
54 is unique in the list
8 is unique in the list
79 is unique in the list
81 is unique in the list
57 is unique in the list
37 is unique in the list
1 is unique in the list
9 is unique in the list
95 is unique in the list
90 is unique in the list
98 is unique in the list
39 is unique in the list
16 is unique in the list
82 is unique in the list
92 is unique in the list
41 is unique in the list
30 is unique in the list
94 is unique in the list
5 is unique in the list
72 is unique in the list
87 is unique in the list
75 is unique in the list
53 is unique in the list
there are 37 unique numbers in the list

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [3]:
import math
def square (a):
    try:
        return ( math.pow( a, 2 ) )
    except:
        print ("can't do this operation on ", a)

def cube (a):
    try:
        return ( math.pow(a, 3) )
    except:
        print ("can't do this operation on ", a)
        
def sixthPower (a):
    try:
        return ( cube ( square(a) ) )
    except:
        print ("can't do this operation on ", a)
        
        
sixthPower(2)

64.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [8]:
for i in range (11):
    print ( cube(i) )

0.0
1.0
8.0
27.0
64.0
125.0
216.0
343.0
512.0
729.0
1000.0

In [9]:
cubes = [ cube(x) for x in range(11) ]
print ( cubes )

[0.0, 1.0, 8.0, 27.0, 64.0, 125.0, 216.0, 343.0, 512.0, 729.0, 1000.0]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [10]:
def c(a,b):
    return (a**2+b**2)**0.5


triple = [ [a,b, c(a,b)] for a in range(1, 100) for b in range(1, 100) if c(a,b)<100 and c(a,b)==int(c(a,b)) and a<=b]

for i in triple:
    print(i)

[3, 4, 5.0]
[5, 12, 13.0]
[6, 8, 10.0]
[7, 24, 25.0]
[8, 15, 17.0]
[9, 12, 15.0]
[9, 40, 41.0]
[10, 24, 26.0]
[11, 60, 61.0]
[12, 16, 20.0]
[12, 35, 37.0]
[13, 84, 85.0]
[14, 48, 50.0]
[15, 20, 25.0]
[15, 36, 39.0]
[16, 30, 34.0]
[16, 63, 65.0]
[18, 24, 30.0]
[18, 80, 82.0]
[20, 21, 29.0]
[20, 48, 52.0]
[21, 28, 35.0]
[21, 72, 75.0]
[24, 32, 40.0]
[24, 45, 51.0]
[24, 70, 74.0]
[25, 60, 65.0]
[27, 36, 45.0]
[28, 45, 53.0]
[30, 40, 50.0]
[30, 72, 78.0]
[32, 60, 68.0]
[33, 44, 55.0]
[33, 56, 65.0]
[35, 84, 91.0]
[36, 48, 60.0]
[36, 77, 85.0]
[39, 52, 65.0]
[39, 80, 89.0]
[40, 42, 58.0]
[40, 75, 85.0]
[42, 56, 70.0]
[45, 60, 75.0]
[48, 55, 73.0]
[48, 64, 80.0]
[51, 68, 85.0]
[54, 72, 90.0]
[57, 76, 95.0]
[60, 63, 87.0]
[65, 72, 97.0]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [6]:
import math as m

def modulo(a):
    m=0
    for i in a:
        m+= math.pow(i, 2)
        
    return math.sqrt(m)
 
def normalize(a):
    for i in a:
        i = i/modulo(a)
        print(i)

a=[2,3,4,5,6]

a=normalize(a)

0.21081851067789195
0.31622776601683794
0.4216370213557839
0.5270462766947299
0.6324555320336759